.customize-control-featured-area {
	display: flex;
	flex-direction: column;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

button.add-featured-item {
	cursor: pointer;
	margin-left: 10px;

	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	user-select: none;
	outline: 0;

	&:before {
		content: "\f132";
		display: inline-block;
		position: relative;
		left: -4px;
		font: 400 20px/1 dashicons;
		vertical-align: middle;
		-webkit-transition: all .2s;
		transition: all .2s;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.clear-overflow {
	
}

ol.featured-area,
ol.accordion-section-content {
	position: relative;
	margin: 12px 0;
	padding: 0;
	list-style: none;

	.placeholder {
		border: 1px dashed #999;
	}

	li {
		position: relative;
		margin: 0;
		padding: 0;

		.handle {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-top: -1px;
			padding: 10px 15px;

			height: auto;
			min-height: 20px;
			overflow: hidden;

			background: #fff;
			border: 1px solid #ddd;

			font-size: 13px;
			color: #23282d;
			white-space: nowrap;

			-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
			box-shadow: 0 1px 1px rgba(0,0,0,.04);

			cursor: move;

			&:hover {
				border-color: #999;
				z-index: 1 !important;
			}

			.featured-item-title {
				display: inline-block;
				flex-grow: 1;
				position: relative;
				overflow: hidden;
				font-weight: 600;
				line-height: 20px;
				font-weight: 600;

				&:after {
					content: "";
					position: absolute;
					background: linear-gradient(to left, white 55%, rgba(255, 255, 255, 0) 100%);
					height: 100%;
					width: 65px;
					top: 0;
					right: 0;
					z-index: 1;
				}
			}

			.featured-item-type {
				color: #666;
			    line-height: 1.5;
			}

			.featured-item-controls {
				display: flex;
				align-items: center;

				.featured-item-delete {
				    display: inline-block;
					text-decoration: unset;
					margin-left: 10px;
				    
				    &:before {
						content: "\f335";
						display: block;
						font: normal 20px/1 dashicons;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				.featured-item-add {
					display: none;
					text-decoration: unset;
					
					height: 20px;
					width: 20px;
					margin-right: -5px;
					margin-left: 10px;
				    
				    &:before {
						content: "\f132";
						height: 15px;
						display: block;
						font: normal 16px/1 dashicons;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}

		.settings {
			display: none;
			margin-bottom: 1px;
			background-color: #eee;
			border: 1px solid #999;
			border-top: none;
			padding: 15px;
		}

		ol {
			display: none;
			position: relative;
			list-style: none;
			margin-left: 20px;
		}

		&.open {
			margin-left: 0 !important;

			& > .featured-item-settings {
				display: block;
			}

			& > .handle {
				border: 1px solid #999;
				border-bottom: none;
				z-index: 1 !important;

				.toggle-indicator:before {
					content: "\f142";
				}
			}
			& > .settings {
				display: block;
			}
		}
	}
}

#featured-items-search-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -301px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 300px;
	margin: 0;
	z-index: 4;
	background: #eee;
	transition: left .18s;
	border-right: 1px solid #ddd;

	@media screen and (max-width: 600px){
		left: -100%;
		top: 46px;
		z-index: 999;
		width: 100%;
	}

	.customize-section-title {
		display: none;
	    margin: 0;
    	border-bottom: 1px solid #ddd;
    	background: #fff;

		@media screen and (max-width: 600px){
			display: block;
		}

    	h3 {
    		font-size: 20px;
		    font-weight: 200;
		    line-height: 26px;
		    display: block;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;

		    span.customize-action {
			    font-size: 13px;
	    		display: block;
	    		font-weight: 400;
		    }


    	}
	}

	body.adding-featured-items & {
		left: 0;
		visibility: visible;
	}

	#featured-items-search-title {
		padding: 13px 15px;
		border-left: none;
		border-right: none;
		transition: background-color .15s;
		user-select: auto;

		.search-icon {
			display: block;
			position: absolute;
			top: 10px;
			left: 15px;
			width: 30px;
			height: 30px;
			padding: 9px 0;
			text-align: center;
			color: #72777c;

			@media screen and (max-width: 600px){
				top: 90px;
			}

			&::after {
				content: "\f179";
				font: 400 20px/1 dashicons;
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		#featured-items-search-input {
			width: 100%;
			height: 32px;
			margin: 1px 0;
			padding: 6px 30px;
		}

		.spinner {
			position: absolute;
			top: 20px;
			right: 21px;
			margin: 0!important;

			@media screen and (max-width: 600px){
				top: 100px;
			}

			body.searching & {
				visibility: visible !important;
			}
		}

		&:after {
			display: none;
		}
	}

	#featured-items-search-list {
			position: absolute;
			display: block;
			left: 0;
			top: 60px;
			bottom: 0;
			margin: 0;
			max-height: none;
			width: 100%;
			padding: 1px 15px 15px;
			box-sizing: border-box;
			background: transparent;

			@media screen and (max-width: 600px){
				top: 143px;
			}

			.featured-item-tpl {
				 margin: 0;

				.handle {
					position: relative;
					background: #fff;
					padding: 10px 15px;
					height: auto;
					min-height: 20px;
					margin-top: -1px;

					overflow: hidden;
					word-wrap: break-word;

					border: 1px solid #ddd;
					box-shadow: none;
					cursor: move;

					&:hover {
						border-color: #999;
						z-index: 999;

						.search-type, .item-add {
							color: #0073aa;
						}
					}

					.featured-item-delete {
						display: none;
					}

					.featured-item-add {
						display: none;

						@media screen and (max-width: 600px){
							display: inline-block;
						}
				    }
				}
			}

			.nothing-found {
				display: none;

				&:last-child {
					display: inherit;
				}
			}
	}
}

body.adding-featured-items {
	.add-featured-item {
			background: #eee;
			border-color: #929793;
			color: #32373c;
			box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);

		&:before {
			-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
		}
	}

	.wp-full-overlay-main {
		left: 300px;
		opacity: .4;

		@media screen and (max-width: 600px){
			left: auto;
		}
	}
}
